/* 
****************************************
  custom properties
****************************************
*/

:root {
--color-1: #009bea;
--color-2: #c1d31c;
--color-3: #89d37e;
--color-4: #ce1970;
--color-5: #faae1d;
--color-6: #4a154b;
--bg-color: #ffffff;
--bg-color-1: #f4f4f4;
--bg-color-2: var(--color-2);
--bg-dark-blue: #1A1D2D;
--text-color: var(--darkgray);
--text-color-invert: #ffffff;
--darkgray: #444;
--border-radius-xs: 4px;
--border-radius-sm: 8px;
--border-radius-md: 15px;
--border-radius-xl: 50px;
--metabar-height: 60px;
--font-size-base: 16px;
}

/* 
****************************************
  Font-Einbindung
****************************************
*/

/* Nunito */
@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-200.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-200.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-300.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-300.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-regular.woff') format('woff');
	src:	url('../fonts/Nunito_Sans//nunito-sans-v6-latin-regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-600.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-600.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-700.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-700.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-900.woff') format('woff');
	src:	url('../fonts/Nunito_Sans/nunito-sans-v6-latin-900.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}


/* cat iconfont integration */
@font-face {
  font-family: 'cat-icons';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/cat/cat-icons.eot");
  src: url("../fonts/cat/cat-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/cat/cat-icons.woff") format("woff"), url("../fonts/cat/cat-icons.ttf") format("truetype"), url("../fonts/cat/cat-icons.svg#cat") format("svg");
}

.iconfont, i {
  font-family: 'cat-icons', sans-serif;
  font-style:normal;
}

/* 
****************************************
--- ENABLE ANIMATIONS
****************************************
*/

.os-animation {
	opacity: 0;
}
.os-animation.animated {
	opacity: 1;
}

/* 
****************************************
--- Flex helper classes
****************************************
*/

.flex {
  display: flex;
}

.flex.centerX {
  align-items: center;
}

.flex.centerY {
  justify-content: center;
}

.flex.centerXY {
  align-items: center;
  justify-content: center;
}

.col {
  flex-direction: column;
}

.col.left {
  align-items: start;
}

/* 
****************************************
 Fullscreen Videohead
****************************************
*/

.dim,
.video-overlay {
  width:100%; 
  height:100%; 
  background-color: var(--bg-dark-blue); 
  position:absolute; 
  opacity: 0.1;
  top:0; 
  left:0; 
  right:0; 
  bottom:0; 
  z-index:997;
}

.video-overlay {
  background-color: transparent;
  opacity: 1;
  z-index:997;
}

.full_screen {
  height: 100vh;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: relative;
}

.full_screen_video {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.video_wrapper{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  overflow: hidden;
}

.video_wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
****************************************
 Fullscreen img-head
****************************************
*/

.video_wrapper img {
  filter: blur(0px); /* brightness(.8); */
  width: 100%;
}

/* 
****************************************
 --- TYPO
****************************************
*/

html,
body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	color: var(--text-color);
	font-weight: 200;
	letter-spacing: 0.25px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  color: var(--color-1);
  margin: 0;
  margin-bottom: .4em;
}

p {
  font-size: 1.0em;
  line-height: 1.5em;
  font-weight: 300;
  margin: 0 0 1em 0;
}

p span.hl {
  font-weight: 400;
}

.hero p {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 200;
}

.banner h1 {
  text-transform: none;
}

.banner p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-weight: 200;
}

.font-bg {
  background-color: var(--color-1);
  color: var(--text-color-invert);
  display: table; /* important for line wrapping */
  padding: 5px 10px;
  margin-bottom: 1px;
}

.font-bg.gray {
  background-color: var(--darkgray);
  color: var(--text-color-invert);
}

.font-bg.white {
  background-color: #fff;
  color: var(--color-1);
}

.invert {
  color: var(--text-color-invert);
}

h1 {
  font-size: 3.3rem;
  line-height: 3.3rem;
}

h2 {
  font-size: 2.3rem;
  line-height: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h4,
.tab-label {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: .7em
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

.textbreite {
  width: 85%;
}

/* 
****************************************
--- GENERAL ELEMENTS
****************************************
*/

.scroll-area {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth; /*for scrolling to page anchors*/
  height: calc(100vh - var(--metabar-height));
  margin-top: calc(var(--metabar-height) - 20px);
}

.spacer-xsmall {
  margin: 5px 0;
}

.spacer-small {
  margin: 10px 0;
}

.spacer-medium {
  margin: 20px 0;
}

.spacer-large {
  margin: 40px 0;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.fullsize {
  width: 100%;
}

.logo-only {
  height:100vh; 
  display: flex; 
  align-items:center;
  justify-content: center;
}

.logo-only img:hover {
  transform: scale(1.3);
  transition: all .5s;
}


/* 
****************************************
 --- BACKGROUNDS
****************************************
*/

.bg {
  background: #ffffff;
}

.bg-1 {
  background: var(--bg-color-1);
}

.bg-2 {
  background: var(--bg-color-2);
}

.bg-3 {
  background: var(--bg-color-3);
}

.bg-offset-darkgray {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(68,68,68,1) 0%, rgba(68,68,68,1) 80%, rgba(255,255,255,1) 80%);
  padding-bottom: 30px;
}

.bg.overlay {
  background-color: transparent;
  position: relative;
}

.bg.overlay.bottom {
  bottom: 0;
}

.innerspace {
  padding: 80px 0;
}

.margin-bottom {
  margin-bottom: 100px;
}

/* 
****************************************
  MENU STYLES
****************************************
*/

header, .header {
  background: rgba(70, 70, 70, 0);
  position: fixed; /* fix for scrolling behaviour ".scroll-area" */ 
	left: 0;
	right: 0;
	width: 100%;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
  top: 0;
  z-index: 998;
}

header {
  box-shadow: 0 0 10px rgba(0,0,0,0);
  position: fixed;
	width: 100%;
	box-shadow: 3px 1px 0.99px 0.01px rgba(0, 0, 0, 0);
}

header:hover,
.header.active {
  background: rgba(70, 70, 70, .55);
}

.header.active {
  top: -105px;
}

header.sticky, .header.sticky {
  background: rgba(255, 255, 255, .95);
}

.logo {
  padding: 0;
}

.logo img {
  height: 105px;
  padding: 10px 0;
}

.header .nav-collapse {
  opacity: 0;
}

.header:hover .nav-collapse {
  opacity: 1;
  transition: all 3s;
}

.nav-collapse a:active,
.nav-collapse .active a {
  color:var(--color-3);
}

nav.nav-collapse,
nav.nav-collapse ul {
  justify-content: flex-end;
  margin-right: 10px;
}

nav.nav-collapse ul {
  display: flex;
  align-items: center;
}

nav ul li a  {
	font-size: 1em;
	font-weight: 400;
	padding: 0;
	color: var(--text-color-invert);
}

nav ul li a:hover {
	color: var(--color-3);
	transition: all 0.5s;
}

/* contact Highlight */
nav.nav-collapse ul li:last-child a {
  background: var(--color-4);
  color: var(--text-color-invert);
  border-radius: var(--border-radius-xl);
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  font-weight: 300;
  padding: 5px 40px;
  text-align: center;
}

nav.nav-collapse ul li:last-child:hover a {
  background: var(--color-2);
}

/* 
****************************************
  MENU STYLES RESPONSIV
****************************************
*/

.nav-toggle:before {
  color: var(--text-color-invert); /* Edit this to change the Hamburger icon color */
}

.page-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 999;
}

.page-nav {
  background-color: rgba(50,50,50,.6);
  border-radius: var(--border-radius-sm);
  color: #fff;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
  height: 60px;
  width: 60px;
}

.page-nav:hover {
  background-color: rgba(50,50,50,.9);
  transition: all .5s;
}

.page-nav.forward {
  transform: rotate(270deg);
}

.page-nav.back {
  transform: rotate(90deg);
}

.page-nav.up {
  transform: rotate(180deg);
  top: 20px;
  position: fixed;
}

/* 
****************************************
--- IMAGES
****************************************
*/

img.rounded {
  border-radius: var(--border-radius-md);
}

img.full {
  width: 100%;
}

img.icon {
  width: 35%;
}


/* 
****************************************
--- BUTTONS 
****************************************
*/

.button-container {
  margin-bottom: 20px;
}

.button-container a {
  display: inline-block;
  font-weight: 300;
  text-align: center;
}

.button-container a:hover {

}

.btn {
  padding: 10px 40px;
  border-radius: var(--border-radius-xl);
  background: var(--color-1);
  display: inline-block;
  color: var(--text-color-invert);
  cursor: pointer;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}

.btn:hover {
  transition: all .4s;
}

.btn-lg {
  width: 100%;
}

.btn-sm {
  font-size: .9em;
  min-width: 130px;
}

.btn-primary {
  background: var(--color-1);
  color: var(--text-color-invert);
}

.btn-primary:hover {
	background: var(--color-2);
  color: var(--text-color-invert);
}

.btn-invert {
  background:#ffffff;
  color: var(--color-1);
}

.btn-invert:hover {
  background:var(--color-2);
  color: var(--text-color-invert);
}

.btn-secondary {
  background: var(--color-2);
  color: var(--text-color-invert);
}

.btn-secondary:hover {
  background: var(--color-1);
  color: var(--text-color-invert);
}

.btn-outline {
  background: transparent;
  border: 1px solid var(--color-1);
  color: var(--color-1);
}

.btn-outline:hover {
  background: var(--color-1);
  border: 1px solid transparent;
  color: var(--text-color-invert);
}

.btn-failed {
  background: var(--color-4);
  color: var(--text-color-invert);
}

.btn-failed:hover {
  background: var(--color-2);
  color: var(--text-color-invert);
}

/* 
****************************************
--- Links
****************************************
*/

a {
  color: var(--color-1);
}

a:hover {
  color: var(--color-2);
}

.anchor {
  margin-bottom: 50px;
}

.anchor a,
.anchor a:hover {
  color: var(--color-1);
  position: relative;
  text-align: left;
}

.anchor a,
.anchor a:hover,
.anchor a.invert,
.anchor a.invert:hover {
  background: none;
}

.anchor a:hover,
.anchor a:hover:after,
.anchor a.invert:hover,
.anchor a.invert:hover:after {
  transform: scale(1.3);
  transition: all .4s;
}

.anchor a:after {
  color: var(--color-1);
  content: "\ea43"; /*circle arrow */
  content: "\e908"; /* arrow */
  font-family: 'cat-icons';
  font-size: 26px;
  position: absolute;
  left: 43%;
  top: 21px;
  transition: all .4s;
}

.anchor a.invert,
.anchor a.invert:after {
  color: var(--text-color-invert); 
}

/* invisible div-class for jumping to target anchor */
.anchor-target {
  visibility: hidden; 
  height: 0px !important; 
  position: absolute; 
  margin: -100px;
}

/* links with icons */

.link {
  display: flex;
}

.link:before {
  content: "\e922";
  font-family: 'cat-icons'; 
  font-size: 2rem;
  padding-right: 5px;
}

/* 
****************************************
 --- LISTINGS
****************************************
*/

ul {
  list-style-type: "/  ";
  padding-inline-start: 15px;
  margin-bottom: 20px;
  margin-top: 0px;
}

ul::marker {
      color: var(--color-1);
  }

/* 
****************************************
  BANNER AREA
****************************************
*/

.videobanner {
  padding: 0;
}

.banner {
  background-color: transparent;
  background-image: url('../images/banner-bg-logo.png'), url('###/images/home-banner.png');
  background-position: bottom right, right top;
  background-repeat: no-repeat;
  background-size: 80%, cover;
  padding: 130px 0 120px;
  position: relative;
}

.banner.featuring {
  background-image: url("../images/home-banner-bg-screens.png"), url("../images/banner-bg-logo.png");
  background-position: right bottom, left bottom;
  background-repeat: no-repeat;
  background-size: auto, 80%;
}

.banner.variants  {
  background-image: url("../images/banner-bg-polygon-fill.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 70%;
}

.banner.interviews,
.banner.connect {
  background-image: url("../images/banner-bg-logo.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 80%;
}

.banner.interview {

}
 
.bg.lightgray {
  background: rgb(245,245,245);
}

.bg.darkgray {
  background-color: var(--darkgray);
}

.bg.blue {
  background: var(--color-1);
}

.bg.green {
  background-color: var(--color-2);
}

/* --- BG COLOR ANIMATION --- */

@keyframes bgcoloranimation-01 {
  0% {background-color: var(--color-3);}
  /* 25%{background-color:var(--color-4);} */
  50%{background-color:var(--color-1);}
  /* 75%{background-color:var(--color-4)} */
  100% {background-color: var(--color-3);}
}

@keyframes bgcoloranimation-02 {
  0% {background-color: var(--color-3);}
  50%{background-color:var(--color-5);}
  100% {background-color: var(--color-3);}
}

@keyframes bgcoloranimation-03 {
  0% {background-color: var(--color-3);}
  50%{background-color:var(--color-4);}
  100% {background-color: var(--color-3);}
}

.banner,
.banner.home,
.banner.interview {
  animation: bgcoloranimation-01 30s infinite;
}

.banner.featuring,
.banner.connect {
  animation: bgcoloranimation-02 60s infinite;
}

.banner.variants {
  animation: bgcoloranimation-03 60s infinite;

}

.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner p {
  color: var(--text-color-invert);
}

.banner h5 {
  margin-bottom: 1em; 
}

.banner p {
  color: var(--text-color-invert);
  padding: 0;
  margin-bottom: 1em;
}


/* 
****************************************
 --- MODUL-Logoslider
****************************************
*/


.logo-slider .bx-viewport {
  height: auto !important;
}


/* 
****************************************
 ---- CARDS
****************************************
*/

.card-wrapper:hover .card-bg {
  transform: scale(1.03);
  transition: all .3s;
  filter: saturate(1);
}

.card {
  background-color: var(--bg-color);
  background-size: cover;
  border-radius: var(--border-radius-sm);
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.card-bg {
  background-color: var(--bg-color);
  background-size: cover;
  box-shadow: inset 0 0 100px rgba(0,0,0,.2);
  height: 100%;
  position: absolute;
  filter: saturate(0.85);
  width: 100%;
  z-index: 1;
}

.card.shadow {
  box-shadow: 0 0 3px rgba(50,50,50,0);
}

.card-dim {
  background-color: var(--darkgray);
  opacity: .5;
}

.card-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.card-img {
  height: 180px;
  overflow: hidden;
}

.card-img img {
  width: 100%;
}

.card_off {
  background: var(--bg-color);
  box-shadow: 0px 1px 2px silver;
  color: var(--text-color);
  padding: 40px;
  margin: 5px;
}

.card .font-bg {
  padding: 0 10px;
}

/* card-slider demo nav */
.card-slider {
  position: relative;
}

.card-slider .page-nav {
  position: absolute;
  top: 50%;
  z-index: 3;
}

.card-slider .page-nav.back {
  left: 20px;
}

.card-slider .page-nav.forward {
  right: 20px;
}

/* 
****************************************
 --- Modul- price / Varianten
****************************************
*/


.price .price-container {
  background: none;
  margin: 0 -10px 35px -10px;
}

.black {
  padding: 0;
  color: var(--text-color);
  box-sizing: border-box;
  border-radius: var(--border-radius-md);
  background: var(--bg-color);
  box-shadow: 0px 1px 2px silver;
  min-height: 280px;
}

/* hover effect on variant cards

.price .price-container:hover .black {
  background: var(--bg-color);
  box-shadow: 0 10px 10px silver;
  cursor: pointer;
  transform: scale(1.05);
  transition: all .3s;
}
*/

.price .product-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: -43px;
  margin-bottom: 10px;
}

.price .price-container .features {
  height: 370px;
  padding: 0;
  margin-top: 2.3em;
}

.price .features h5,
.price .extras h5 {
  font-size: 20px;
  margin: 0 0 1em 1em;
  text-align: left;
}

.price .features ul,
.price .extras ul {
  margin-left: 1em;
}

.price .price-container .black h2 {
  font-size: 24px;
  font-weight: 200;
  font-style: normal;
  line-height: 38px;
  margin-bottom: 0;
}

.price .price-container .black h2 span {
  font-size: 20px;
  font-weight: 200;
}
.price .price-container .black p {
  font-weight: 300;
  line-height: 24px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.price .price-container h4 {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: var(--border-radius-xl);
  background: var(--bg-color-1);
  display: block;
  color: #5a5a5a;
  margin: -30px auto 35px;
  font-weight: 200;
}
.price .price-container p {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.price .price-container a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: var(--border-radius-xl);
  background: var(--color-1);
  display: block;
  color: var(--text-color-invert);
  margin: 20px auto 0px;
  font-weight: 300;
}

.price .price-container a:hover {
  background: #5a5a5a;
  color: var(--text-color-invert);
  transition: all 0.4s;
}

.price .price-container h4 {
  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 0px;
  background: none;
  display: block;
  color: #5a5a5a;
  margin: 30px auto 20px;
  font-weight: 200;
  text-align: left;
}

.price .price-container a {
  width: 0px;
  height: 0px;
}

.light {
	color: #ff5ad5;
}
.standard {
	color: var(--color-1);
}
.pro {
	color: #7f0f68;
}
.partner {
	color: #c88d00;
}

.variantenbutton  {
	width: 200px;
	height: 50px;
	line-height: 50px;
	border-radius: var(--border-radius-xl);
	background: var(--color-1);
	display: block;
  color: var(--text-color-invert);
	margin: 0px auto 0px;
	font-weight: 300;
  font-size: 13px;
  margin-top: 25px;
}


/* 
****************************************
 --- Modul- price / Varianten 2 Ergänzungen
****************************************
*/

.varianten .price-container a {
	width: auto;
	height: 50px;
	line-height: 50px;
  background: var(--color-2);
	border-radius: var(--border-radius-xl);
	display: block;
  color: var(--text-color-invert);
  padding: 0;
	margin: 20px auto 0px;
	font-weight: 300;
  margin-bottom: 0px;
}

.varianten .price-container a:hover{
  background: var(--color-1); 
  color: var(--text-color-invert);
  transition: all 0.4s;}

.varianten .price-container {
  padding: 0 0 1em 0;
}

.variantentext {
  text-align: left;
  line-height: 1.4em;
  margin-bottom: .7em;
}

li.variantentext {
  font-size: 0.95em;
  line-height: 1.3em;
  margin-bottom: 0.8em;
}

.extras {
  border-radius: var(--border-radius-md);
  border: 1px solid var(--color-1);
  padding: 20px 10px 10px 0; 
  color: var(--text-color-invert);
  box-sizing: border-box;
  margin-bottom: 2em;
  height: 240px;
}

.extras li {
  color: var(--color-1);
}

.extras p {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
}

.extras h4 {
  text-align: left;
  padding-left: 20px;
}

.extras h5 {
  margin: 0 0 1em 1em;
  text-align: left;
}

/* 
****************************************
 --- SLIDER ITEMS
****************************************
*/

.ref-logo {
    margin: 1.5em;
    display: flex;
    align-items: end;
    padding: 50px 20px;
    box-shadow: 0 0px 10px rgba(140,140,140,.1);
    background: #fff;
    border-radius: var(--border-radius-sm);
}

.ref-logo a {
  margin: auto;
}

.ref-logo img {
  height: 34px;
}


/* 
****************************************
 --- Partner
****************************************
*/

.linkpartner {
  color: var(--color-1);
}

.linkpartner:hover{color:var(--color-2); transition:all 0.5s;}


/* 
****************************************
 --- Impressum & Datenschutz
****************************************
*/

.impressum {
  text-align: center;
}
.impressum a {
  color: var(--color-1);
}

.impressum a:hover{color:var(--color-2); transition:all 0.5s;}

.datenschutz {
  width: 60%;
}
.linkdatenschutz {
  color: var(--color-1);
}

.linkdatenschutz:hover{color:var(--color-2); transition:all 0.5s;}


/* 
****************************************
 --- FOOTER
****************************************
*/

 footer {
  padding: 55px 0;
  color: var(--text-color-invert);
  font-weight: 300;
  background: var(--darkgray);
  font-size: 15px;
}

.footerblock {
  width: 100%;
}

.footerblock .contact-icon {
  filter: brightness(100);
}

div.rightside {
  text-align: left;
}

.footerinhalt {
  float: left;
}

.footer1 {
  padding-left: 120px;
}
.footer2 {
  padding-left: 80px;
}
.footer3 {
  padding-left: 80px;
}

footer a,
footer .contact-link {
  color: var(--text-color-invert);
}
footer a:hover {
  color: var(--color-2);
}

/* 
****************************************
 --- Buttons unsichtbar machen
****************************************
*/ 

/* Accordion styles */

input.accordion {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tabs {
  border-radius: var(--border-radius-sm);
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
}

.tab {
  background-color: var(--bg-color);
  box-shadow: 0px 1px 2px silver;
  width: 100%;
  color: var(--text-color-1);
  overflow: hidden;
  margin-bottom: 30px;
  opacity: 1;
}

.tab-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 0 2em;
  position: relative;
  cursor: pointer;
  margin: 0;
}

.tab-label:hover {
  opacity: 1;
}

.tab-label::after {
  content: "\e928";
  font-family: 'cat-icons'; 
  width: 1em;
  height: 1em;
  position: absolute;
  top: 38%;
  right: 20px;
  text-align: center;
  transition: all .35s;
  transform: rotate(180deg);
}

.tab-content {
  max-height: 0;
  padding: 0 2em;
  text-align: left;
  transition: all .35s;
}

.tab-text {
  display: block;
  padding: 0 0 2em 0;
}

/* :checked */
input:checked + .tab-label {

}

input:checked + .tab-label::after {
  transform: rotate(360deg);
}

input:checked  ~ .tab-content {
  border-bottom: 1px dotted rgba(255,255,255,.5);
  max-height: 100vh;
  opacity: 100%;
}

/* back arrow */
.nav-back {
  position: relative;
}

.nav-back:before {
  content: "\e928";
  font-family: 'cat-icons'; 
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0;
  left: 20px;
  text-align: center;
  transform: rotate(90deg);
}

/* 
****************************************
 --- BXSLIDER Testimonials
****************************************
*/ 

/* icon from iconfont
.bx-wrapper:before {
  content: "\e96d";
  color: var(--bg-color-1);
  font-family: 'cat-icons';
  font-size: 40px;
  left: -55px;    
  position: absolute;
  top: 5px;
}
*/
.bx-wrapper:before {
  content: url(../images/ico_comment.svg);
  left: -43px;    
  position: absolute;
  top: -10px;
  width: 34px;
}

/* controls interview slider*/

.bx-controls-direction a {
  text-indent: 0 !important;
}

.bx-wrapper .bx-next {
  right: 10%;
}

.bx-prev:before,
.bx-next:before {
  content: "\e902";
  font-family: 'cat-icons';
  color: var(--text-color);
  font-size: 4em;
}

.bx-next:before {
  content: "\e903";
}

/* 
****************************************
 --- FORM CONTACT
****************************************
*/

input:focus-visible {
  outline: 1px solid var(--color-1);
}

input {
  width: 100%;
  height: 44px;
  background-color: #FFF;
  border: 1px solid #DDDDDD;
  margin: 0 0 5px 0;
  padding: 0 15px;
  -webkit-appearance: none;
  border-radius: var(--border-radius-xl);
}

input[type='submit'] {
  padding: 0 5px;
  margin-top: 15px;
  cursor: pointer;
  height: 44px;
  line-height: 32px;
  width: 100%;
  background-color: var(--color-1);
  color: #FFF;
  -webkit-appearance: none;
  border-radius: var(--border-radius-xl);
  transition: background-color 300ms;
}

input.btn {
  border: 0;
}

input.btn-failed[type='submit'] {
  background-color: red;
  color: #FFF;
}

input.btn-failed:hover[type='submit'] {
  background-color: var(--color-2);
  color: #FFF;
}

.banner input {
  background-color: rgba(255,255,255,.4);
  border: 0;
  color: var(--text-color-invert);
}

.banner input[type='submit'] {
  background-color: var(--bg-color);
  color: var(--color-1);
}

.banner input[type='submit']:hover {
  background-color: var(--color-1);
  color: var(--text-color-invert);
}

.banner input:focus-visible {
  outline: 1px solid var(--text-color-invert);
}
.banner input::placeholder {
  color: var(--text-color-invert);
}

/* this inverts the date-time-picker-icon in date-input-fields */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* callback states */

.fb-requesting,
.fb-successful,
.fb-failed {
  display: none;
}

.requesting input[type="submit"],
.successful input[type="submit"],
.failed input[type="submit"] {
  display: none;
}

.requesting .fb-requesting,
.successful .fb-successful,
.failed .fb-failed,
.failed .fb-failed input {
  display: block;
}

.successful .fb-successful,
.requesting .fb-requesting {
  display: block;
  text-align: center;
  color: green;
  font-size: .9em;
  line-height: 1.3em;
  margin-top: 1em;
}

.requesting .fb-requesting {
  color: var(--color-1);
}

.banner .successful .fb-successful,
.banner .requesting .fb-requesting {
  color: var(--text-color-invert);
}

.failed .fb-failed,
.failed .fb-failed input {
  display: block;
}

/* feedback icons */

.fb-successful:before,
.fb-requesting:before {
  font-family: cat-icons;
  margin-right: 6px;
}

.fb-successful:before {
  content: "\ea10";
}

.fb-requesting:before {
  content: "\ea20";
}
