/* CSS-only lightbox adapted from: https://codepen.io/drew_mc/pres/grWbKW */

input[type="checkbox"]{
    display:none;
}
  
.flex {
    display: flex;
    align-items: center;
}

.flex-100vh {
    height: 100vh;
}
  
.close {
    width: 2rem;
    height: 2rem;
    display: block;
    font-size: 1px;
    text-indent: -999em;
    position: absolute;
    top: 15%;
    right: 15%;
    z-index: 999;
    transition: all 0.25s ease-out;
}
.close:hover,
.close:focus {
    transform: scale(1.2);
}
  
.close:after{
    content: "x";
    color: #fff;
    cursor: pointer;
    text-indent: 0;
    font-size: 4rem;
    font-weight: 200;
    position: absolute;
    top: 0.15rem;
    left: -2rem;
}
  
 
#overlay{
    transition: opacity 0.35s ease;
    padding: 0em;
    box-sizing: border-box;
    opacity: 0;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0.3);
    width: 1px;
    height: 1px;
    top: 0;
    left: 0;
}

#overlay > * {
    display: none;
}
  
input:checked + #overlay{
    width: 100%;
    height: 100%;
    padding: 1em;
    opacity: 1;
    z-index: 9999;
}

input:checked + #overlay > * {
    display: block;
}
  
.image-wrapper {
    box-sizing: border-box;
    width: 100vw;
    /* position: relative; */
    padding-top: 0;
    height: 100vh;
  }

.image-wrapper iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 67%;
    
}

.image-wrapper iframe image {
    max-height: 70%;
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 991px) {

    .image-wrapper iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70%;
        height: 70%;
    }

    .close {
        top: 5%;
        right: 5%;
    }
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 575px) {

    .image-wrapper iframe {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 90%;
        height: 70%;
    }

    .close {
        top: 5%;
        right: 0%;
    }

}


