/* 
****************************************
--- media collection classes
****************************************
*/
.media-collection {
  position: relative;
}

.media-square {
  width: 50%;
  padding-bottom: 50%;
  position: relative;
  float: left;
}

.media-inner {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.media-rect {
  width: 100%;
  padding-bottom: 50.1%;
  position: relative;
  float: left;
}

.media-oblong {
  width: 100%;
  padding-bottom: 50.1%;
  position: relative;
  float: left;
}

.fill-box {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  cursor: pointer;
}

.box-image {
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  border: 0px solid #fff;
}

/* 
* https://css-tricks.com/zooming-background-images/ 
*/

.fill-box:hover .box-image {
  transform: scale(1.02);
  transition: all .7s;
}

.box-image {
  background-color: var(--color-1);
  border: 0 solid #fff;
  box-shadow: inset 0 0 100px rgba(0,0,0,.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* center hover infos on image */
.box-image.center {
  align-items: center;
}

/* hover color image */
.box-image::before {
  content: "";
  /* display: none; */
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  box-shadow: inset 0 0 400px rgba(0,0,0,.7);
  /* background-color: var(--darkgray); */
}

/* hover opacity image-overlay */
.fill-box:hover .box-image:before,
.fill-box:focus .box-image:before {
  /* display: block; */
  opacity: .45;
  transition: all .7s;
}

.box-image span {
  color: white;
  opacity: 0;
  font-family: inherit;
  padding-bottom: 5px;
  transform: scale(1.3);
  z-index: 1;
}

.fill-box:hover span,
.fill-box:focus span {
  transform: scale(1);
  opacity: .9;
  transition: all .6s;
}

.box-image span.title,
.box-image span.text {
  color: var(--text-color);
  padding: 5px 20px;
}

.box-image span.title.bg,
.box-image span.text.bg { 
  background-color: var(--bg-color);
}

.box-image span.title {
  font-size: 1.5rem;
  font-weight: 200;
}

.box-image span.text {
  font-size: .9rem;
  font-weight: 300;
  margin-top: 2px;
}

/* end image zoom */

.box-dim {
  background-color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: .1;
}

.box-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}

.box-link.enlarge:before {
  background-color: var(--bg-color);
  content: " \e98b";
  font-family: "cat-icons";
  font-size: 1.3rem;
  width: 40px;
  height: 40px;
  bottom: 5%;
  right: 5%;
  position: inherit;
  color: var(--text-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .6;
}

.clear-float {
  clear: both;
}